<html>
  <head>
    <title>Event Ticket Invoice</title>
  </head>
  <body>
    <h1>Event Ticket Invoice</h1>
    <table>
      <tr>
        <th>Event Name</th>
        <td>{{eventName}}</td>
      </tr>
      <tr>
        <th>Event Date</th>
        <td>{{eventDate}}</td>
      </tr>
      <tr>
        <th>Event Time</th>
        <td>{{eventTime}}</td>
      </tr>
      <tr>
        <th>Ticket Price</th>
        <td>{{ticketPrice}}</td>
      </tr>
      <tr>
        <th>Quantity</th>
        <td>{{quantity}}</td>
      </tr>
      <tr>
        <th>Total Amount</th>
        <td>{{totalAmount}}</td>
      </tr>
    </table>
  </body>
</html>